/* Custom styling for the generated HTML documentation. */

html {
  background: #f7f7f7;
  color: #222;
}

body {
  /* Wordpress native font stack. */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: auto;
  max-width: 50em;
}

p {
  text-align: justify;
}
